GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GA4_PROPERTY_ID=
GA4_MEASUREMENT_ID=G-B5BPHFRR18
GTM_ACCOUNT_ID=
GTM_CONTAINER_ID=GTM-5WD8N53F
GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
GOOGLE_ADS_CUSTOMER_ID=
GOOGLE_ADS_LOGIN_CUSTOMER_ID=
META_APP_ID=
META_APP_SECRET=
META_ACCESS_TOKEN=
META_BUSINESS_ID=
META_AD_ACCOUNT_ID=
META_PIXEL_ID=
CRBOX_DOMAIN=https://crbox.cr
MARKETING_AGENT_MODE=read_only
MARKETING_AGENT_ENABLE_WRITES=false
MARKETING_AGENT_GTM_CREATE_ENABLED=false
